!!!
%html
  %head
    %title Test Application
    %link{:href => 'application.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'test.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'application.js'}
    %script{:src => 'test.js'}
  %body
