!!!
%html
  %head
    %title App
    %link{:href => 'vendor.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'app.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'vendor.js'}
    %script{:src => 'templates.js'}
    %script{:src => 'app.js'}
  %body
    :javascript
      window.App = Ember.Application.create();
